.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header .header-info {
    display: flex;
    justify-content: center;
    height: 45px;
    width: 100%;
    background-color: black;
}

.header .header-info .contact-info {
    width: 70%;
    background-color: black;
    color: white;
}

.header .navbar {
    height: 95px;
    width: 100%;
    background-color: rgb(227, 201, 201);
}